<!DOCTYPE html>
<html>
  <head>
    <title>RpgEngine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user_game_master?(current_user) %>
      <%= render partial: "shared/game_master_navbar", locals: { user: current_user } %>
    <% else %>
      <%= render partial: "shared/navbar", locals: { user: current_user } %>
    <% end %>

    <% if flash[:notice] %>
      <div class="notification is-primary is-light">
        <button class="delete"></button>
        <%= notice %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger is-light">
        <button class="delete"></button>
        <%= alert %>
      </div>
    <% end %>

    <main class="bd-main">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
